.response__notification {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  span {
    font-size: 20px;
  }
}


mat-icon {
  vertical-align: middle;
}

