// Toolbar
$toolbar_bg: linear-gradient(90deg, #3F51B5 0%, rgba(0, 108, 226, 0.7) 53.56%, #28378a 100%);
$sidenav_bg: #28378a;

$navy_blue:#1E3D58;
$royal_blue:#057DCD;
$navy_blue_light: #1E3D5824;
$white:#E8EEF1;

